{:paths ["src"]
 :deps {com.platypub.themes/default {:git/url "https://github.com/jacobobryant/platypub"
                                     :git/sha "e4af4618d7eaaa969d28bda3a60237672adbb72b"
                                     :deps/root "themes/default"}}}
