{:paths ["src"]
 :deps {com.platypub.themes/default {:git/url "https://github.com/jacobobryant/platypub"
                                     :git/sha "c8871f9ea1ac3b37fbbc99de5440fc937d84369c"
                                     :deps/root "themes/default"}}}
