module.exports = {
  content: [
    'public/**/*.html',
  ],
  theme: {
    extend: {
      colors: {
        'primary': '{{primary}}',
        'accent': '{{accent}}',
        'tertiary': '{{tertiary}}',
      },
    },
    fontFamily: {
        'sans': ['Open Sans', 'sans-serif'],
        'serif': ['Domine', 'serif']
    },
  },
  plugins: [
    require('@tailwindcss/forms'),
  ],
}
